src/schemes/13_3/docs-https-api.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- EIS docs-https-api Integration Scheme, version 13.3, create date 19.09.2023 -->
<!-- Интеграционная схема, описывающая документы, отдаваемые сервисами отдачи ЕИС внешним системам, авторизовавшимся по логину-паролю пользователя -->
<xs:schema xmlns="http://zakupki.gov.ru/fz44/https" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:base="http://zakupki.gov.ru/oos/base/1" targetNamespace="http://zakupki.gov.ru/fz44/https" elementFormDefault="unqualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://zakupki.gov.ru/oos/base/1" schemaLocation="BaseTypes.xsd"/>
	<!--Сервис РНГ-->
	<xs:element name="getRBGObjectListForOrgRequest">
		<xs:annotation>
			<xs:documentation>Запрос сведений о размещенных документах РНГ заказчика</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="sender" type="base:organizationRef">
					<xs:annotation>
						<xs:documentation>Отправитель</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="customers">
					<xs:annotation>
						<xs:documentation>Организации заказчика</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="customer" type="base:organizationRef" maxOccurs="10">
								<xs:annotation>
									<xs:documentation>Организация заказчика</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="fromDate" type="xs:dateTime">
					<xs:annotation>
						<xs:documentation>Начало временного интервала, в котором ведется поиск (включается)
                        </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="toDate" type="xs:dateTime">
					<xs:annotation>
						<xs:documentation>Конец временного интервала, в котором ведется поиск (не включается)
                        </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="regNumber" type="base:bankGuaranteeRegNumberType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Реестровый номер независимой гарантии</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="documentKind" type="RBGDocumentKindType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Вид документа: 
bankGuarantee - Информация о выданной независимой гарантии;
bankGuaranteeInvalid - Информация о недействительности сведений о независимой гарантии;
bankGuaranteeRefusal - Сведения об отказе заказчика в принятии независимой гарантии; внесение изменений;
bankGuaranteeRefusalInvalid - Сведения о недействительности отказа заказчика в принятии независимой гарантии;
bankGuaranteeTermination - Информация о прекращении обязательств поставщика по независимой гарантии;
bankGuaranteeTerminationInvalid - Сведения о недействительности информации о прекращении обязательств поставщика по независимой гарантии;
bankGuaranteeReturn - Информация о возвращении независимой гарантии или об освобождении от обязательств по независимой гарантии;
bankGuaranteeReturnInvalid - Сведения о недействительности информации о возвращении независимой гарантии или об освобождении от обязательств по независимой гарантии</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="getRBGObjectListForBankRequest">
		<xs:annotation>
			<xs:documentation>Запрос сведений о размещенных документах РНГ гаранта</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="sender" type="base:organizationRef">
					<xs:annotation>
						<xs:documentation>Отправитель</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="banks">
					<xs:annotation>
						<xs:documentation>Гарант</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="bank" type="base:organizationRef" maxOccurs="10">
								<xs:annotation>
									<xs:documentation>Гарант</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="fromDate" type="xs:dateTime">
					<xs:annotation>
						<xs:documentation>Начало временного интервала, в котором ведется поиск (включается)
                        </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="toDate" type="xs:dateTime">
					<xs:annotation>
						<xs:documentation>Конец временного интервала, в котором ведется поиск (не включается)
                        </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="regNumber" type="base:bankGuaranteeRegNumberType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Реестровый номер независимой гарантии</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="documentKind" type="RBGDocumentKindType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Вид документа: 
bankGuarantee - Информация о выданной независимой гарантии;
bankGuaranteeInvalid - Информация о недействительности сведений о независимой гарантии;
bankGuaranteeRefusal - Сведения об отказе заказчика в принятии независимой гарантии; внесение изменений;
bankGuaranteeRefusalInvalid - Сведения о недействительности отказа заказчика в принятии независимой гарантии;
bankGuaranteeTermination - Информация о прекращении обязательств поставщика по независимой гарантии;
bankGuaranteeTerminationInvalid - Сведения о недействительности информации о прекращении обязательств поставщика по независимой гарантии;
bankGuaranteeReturn - Информация о возвращении независимой гарантии или об освобождении от обязательств по независимой гарантии;
bankGuaranteeReturnInvalid - Сведения о недействительности информации о возвращении независимой гарантии или об освобождении от обязательств по независимой гарантии</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="getRBGObjectListResponse">
		<xs:annotation>
			<xs:documentation>Ответ на запрос сведений о размещенных документах РНГ</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:element name="errorsInfo">
					<xs:annotation>
						<xs:documentation>Результаты вызова сервиса в случае ошибки</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="errorInfo" type="errorInfoType" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Результат вызова сервиса в случае ошибки</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="objectsInfo">
					<xs:annotation>
						<xs:documentation>Список кратких сведений о размещенных документах</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="objectInfo" type="RBGObjectInfoType" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Краткие сведения о размещенном документе</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="getRBGObjectInfoRequest">
		<xs:annotation>
			<xs:documentation>Запрос сведений о документе РНГ</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="sender" type="base:organizationRef">
					<xs:annotation>
						<xs:documentation>Отправитель</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="documentUid" type="base:guidType">
					<xs:annotation>
						<xs:documentation>Идентификатор документа</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="documentKind" type="RBGDocumentKindType">
					<xs:annotation>
						<xs:documentation>Вид документа: 
bankGuarantee - Информация о выданной независимой гарантии;
bankGuaranteeInvalid - Информация о недействительности сведений о независимой гарантии;
bankGuaranteeRefusal - Сведения об отказе заказчика в принятии независимой гарантии; внесение изменений;
bankGuaranteeRefusalInvalid - Сведения о недействительности отказа заказчика в принятии независимой гарантии;
bankGuaranteeTermination - Информация о прекращении обязательств поставщика по независимой гарантии;
bankGuaranteeTerminationInvalid - Сведения о недействительности информации о прекращении обязательств поставщика по независимой гарантии;
bankGuaranteeReturn - Информация о возвращении независимой гарантии или об освобождении от обязательств по независимой гарантии;
bankGuaranteeReturnInvalid - Сведения о недействительности информации о возвращении независимой гарантии или об освобождении от обязательств по независимой гарантии</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="getRBGObjectInfoResponse">
		<xs:annotation>
			<xs:documentation>Ответ на запрос сведений о документе РНГ</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:element name="errorsInfo">
					<xs:annotation>
						<xs:documentation>Результаты вызова сервиса в случае ошибки</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="errorInfo" type="errorInfoType">
								<xs:annotation>
									<xs:documentation>Результат вызова сервиса в случае ошибки</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="objectInfo">
					<xs:annotation>
						<xs:documentation>Cведения о документе</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="RBGObjectInfoType">
								<xs:sequence>
									<xs:element name="content" type="xs:base64Binary">
										<xs:annotation>
											<xs:documentation>Содержимое документа</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<!--Типы РНГ-->
	<xs:complexType name="RBGObjectInfoType">
		<xs:annotation>
			<xs:documentation>Тип: Краткие сведения об опубликованном документе РНГ</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="documentUid" type="base:guidType">
				<xs:annotation>
					<xs:documentation>Идентификатор документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="documentKind" type="RBGDocumentKindType">
				<xs:annotation>
					<xs:documentation>Вид документа: 
bankGuarantee - Информация о выданной независимой гарантии;
bankGuaranteeInvalid - Информация о недействительности сведений о независимой гарантии;
bankGuaranteeRefusal - Сведения об отказе заказчика в принятии независимой гарантии; внесение изменений;
bankGuaranteeRefusalInvalid - Сведения о недействительности отказа заказчика в принятии независимой гарантии;
bankGuaranteeTermination - Информация о прекращении обязательств поставщика по независимой гарантии;
bankGuaranteeTerminationInvalid - Сведения о недействительности информации о прекращении обязательств поставщика по независимой гарантии;
bankGuaranteeReturn - Информация о возвращении независимой гарантии или об освобождении от обязательств по независимой гарантии;
bankGuaranteeReturnInvalid - Сведения о недействительности информации о возвращении независимой гарантии или об освобождении от обязательств по независимой гарантии</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="status" type="documentRBGStatusType">
				<xs:annotation>
					<xs:documentation>Статус сведений о документе:
Допустимые значения:
P - опубликован;
I - недействителен;
A - аннулирован</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="publishDate" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>Дата и время публикации документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="versionNumber" type="base:versionNumberType">
				<xs:annotation>
					<xs:documentation>Номер последнего изменения документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="regNumber" type="base:documentNumberType">
				<xs:annotation>
					<xs:documentation>Реестровый номер документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="schemeVersion" type="base:schemeVersionType">
				<xs:annotation>
					<xs:documentation>Версия схемы</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="extPartnerType" type="extPartnerType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Тип внешнего контрагента, от которого ЕИС получила документ (проект документа):

VSRZ - Внешняя система размещения заказов;
RMIS - Региональная муниципальная информационная система;
FAS - Федеральная антимонопольная служба;
ETP - Электронная торговая площадка;
BANK - Банк;
GIIS_EB - ГИИС Электронный бюджет;
OA - Информационные системы органов аудита;
OVK - Информационные системы органов внутреннего контроля;
IKO - Информационные системы контрольных органов.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="documentRBGStatusType">
		<xs:annotation>
			<xs:documentation>Тип: Статус документа РНГ:
P - опубликован;
I - недействителен;
A - аннулирован</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="P">
				<xs:annotation>
					<xs:documentation>Опубликован</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="I">
				<xs:annotation>
					<xs:documentation>Недействителен</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="A">
				<xs:annotation>
					<xs:documentation>Аннулирован</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RBGDocumentKindType">
		<xs:annotation>
			<xs:documentation>Тип: Вид документа РНГ
bankGuarantee - Информация о выданной независимой гарантии;
bankGuaranteeInvalid - Информация о недействительности сведений о независимой гарантии;
bankGuaranteeRefusal - Сведения об отказе заказчика в принятии независимой гарантии; внесение изменений;
bankGuaranteeRefusalInvalid - Сведения о недействительности отказа заказчика в принятии независимой гарантии;
bankGuaranteeTermination - Информация о прекращении обязательств поставщика по независимой гарантии;
bankGuaranteeTerminationInvalid - Сведения о недействительности информации о прекращении обязательств поставщика по независимой гарантии;
bankGuaranteeReturn - Информация о возвращении независимой гарантии или об освобождении от обязательств по независимой гарантии;
bankGuaranteeReturnInvalid - Сведения о недействительности информации о возвращении независимой гарантии или об освобождении от обязательств по независимой гарантии</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="bankGuarantee">
				<xs:annotation>
					<xs:documentation>Информация о выданной независимой гарантии; внесение изменений</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="bankGuaranteeInvalid">
				<xs:annotation>
					<xs:documentation>Информация о недействительности сведений о независимой гарантии</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="bankGuaranteeRefusal">
				<xs:annotation>
					<xs:documentation>Сведения об отказе заказчика в принятии независимой гарантии; внесение изменений</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="bankGuaranteeRefusalInvalid">
				<xs:annotation>
					<xs:documentation>Сведения о недействительности отказа заказчика в принятии независимой гарантии</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="bankGuaranteeTermination">
				<xs:annotation>
					<xs:documentation>Информация о прекращении обязательств поставщика по независимой гарантии; внесение изменений</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="bankGuaranteeTerminationInvalid">
				<xs:annotation>
					<xs:documentation>Сведения о недействительности информации о прекращении обязательств поставщика по независимой гарантии</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="bankGuaranteeReturn">
				<xs:annotation>
					<xs:documentation>Информация о возвращении независимой гарантии или об освобождении от обязательств по независимой гарантии; внесение изменений</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="bankGuaranteeReturnInvalid">
				<xs:annotation>
					<xs:documentation>Сведения о недействительности информации о воз-вращении независимой гарантии или об освобождении от обязательств по независимой гарантии</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<!--Сервис БО-->
	<xs:element name="getBOObjectListRequest">
		<xs:annotation>
			<xs:documentation>Запрос сведений о документах БО</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="getObjectListRequest">
					<xs:sequence>
						<xs:element name="budgetObligationNumber" type="base:boNumberType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Учетный номер бюджетного обязательства</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="year" type="base:yearType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Финансовый год бюджетного обязательства</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="getBOObjectListResponse">
		<xs:annotation>
			<xs:documentation>Ответ на запрос сведений о документах БО</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:element name="errorsInfo">
					<xs:annotation>
						<xs:documentation>Результаты вызова сервиса в случае ошибки</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="errorInfo" type="errorInfoType" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Результат вызова сервиса в случае ошибки</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="objectsInfo">
					<xs:annotation>
						<xs:documentation>Список кратких сведений о размещенных документах</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="objectInfo" type="BOObjectInfoType" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Краткие сведения о размещенном документе</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="getBOObjectInfoRequest">
		<xs:annotation>
			<xs:documentation>Запрос сведений о документе БО</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="sender" type="base:organizationRef">
					<xs:annotation>
						<xs:documentation>Отправитель</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="documentUid" type="base:guidType">
					<xs:annotation>
						<xs:documentation>Идентификатор документа</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="foundationDocumentKind" type="foundationDocumentKindType">
					<xs:annotation>
						<xs:documentation>Вид документа-основания:
CO - контракт,
NO – извещение об осуществлении закупки</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="getBOObjectInfoResponse">
		<xs:annotation>
			<xs:documentation>Ответ на запрос сведений о документе БО</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:element name="errorsInfo">
					<xs:annotation>
						<xs:documentation>Результаты вызова сервиса в случае ошибки</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="errorInfo" type="errorInfoType">
								<xs:annotation>
									<xs:documentation>Результат вызова сервиса в случае ошибки</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="objectInfo">
					<xs:annotation>
						<xs:documentation>Cведения о документе</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="BOObjectInfoType">
								<xs:sequence>
									<xs:element name="content" type="xs:base64Binary">
										<xs:annotation>
											<xs:documentation>Содержимое документа</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<!--Типы БО-->
	<xs:complexType name="BOObjectInfoType">
		<xs:annotation>
			<xs:documentation>Тип: Краткие сведения о документе БО</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="documentUid" type="base:guidType">
				<xs:annotation>
					<xs:documentation>Идентификатор документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="status" type="documentBOStatusType">
				<xs:annotation>
					<xs:documentation>Статус сведений о документе:
S - Направлены для постановки на учет,
A - Ожидается постановка БО на учет,
R - Поставлены на учет,
D - Не поставлены на учет           </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="createDate" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>Дата формирования сведений/изменения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="signDate" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>Дата подписания документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="registrationDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата постановки на учет</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="versionNumber" type="base:versionNumberType">
				<xs:annotation>
					<xs:documentation>Номер последнего изменения документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="budgetObligationNumber" type="base:boNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Учетный номер бюджетного обязательства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="year" type="base:yearType">
				<xs:annotation>
					<xs:documentation>Финансовый год бюджетного обязательства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="foundationDocumentKind" type="foundationDocumentKindType">
				<xs:annotation>
					<xs:documentation>Вид документа-основания:
CO - контракт,
NO – извещение об осуществлении закупки</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="schemeVersion" type="base:schemeVersionType">
				<xs:annotation>
					<xs:documentation>Версия схемы</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="documentBOStatusType">
		<xs:annotation>
			<xs:documentation>Тип: Статус документа БО:
S - Направлены для постановки на учет,
A - Ожидается постановка БО на учет,
R - Поставлены на учет,
D - Не поставлены на учет</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="S">
				<xs:annotation>
					<xs:documentation>Опубликован</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="A">
				<xs:annotation>
					<xs:documentation>Недействителен</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="R">
				<xs:annotation>
					<xs:documentation>Аннулирован</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="D">
				<xs:annotation>
					<xs:documentation>Аннулирован</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="foundationDocumentKindType">
		<xs:annotation>
			<xs:documentation>Тип: Вид документа-основания: 
CO - контракт,
NO – извещение об осуществлении закупки.
		     </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="CO"/>
			<xs:enumeration value="NO"/>
		</xs:restriction>
	</xs:simpleType>
	<!--Общие типы-->
	<xs:complexType name="getObjectListRequest">
		<xs:annotation>
			<xs:documentation>Тип: Общие поля запроса сведений о документах</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="sender" type="base:organizationRef">
				<xs:annotation>
					<xs:documentation>Отправитель</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="customer" type="base:organizationRef">
				<xs:annotation>
					<xs:documentation>Организация заказчика</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fromDate" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>Начало временного интервала, в котором ведется поиск (включается)
                        </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="toDate" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>Конец временного интервала, в котором ведется поиск (не включается)
                        </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="errorInfoType">
		<xs:annotation>
			<xs:documentation>Тип: Результат вызова сервиса в случае ошибки</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="code" type="xs:int">
				<xs:annotation>
					<xs:documentation>Код ошибки</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="message" type="base:text2000Type">
				<xs:annotation>
					<xs:documentation>Текстовая расшифровка ошибки, включающая дополнительную информацию
                    </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="extPartnerType">
		<xs:annotation>
			<xs:documentation>Тип: Тип внешнего контрагента документа:
	VSRZ   - Внешняя система размещения заказов; 
	RMIS - Региональная муниципальная информационная система;
    FAS - Федеральная антимонопольная служба;
    ETP - Электронная торговая площадка;
    BANK - Банк;
    GIIS_EB - ГИИС Электронный бюджет,
    OA - Информационные системы органов аудита,
    OVK - Информационные системы органов внутреннего контроля,
    IKO - Информационные системы контрольных органов.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="VSRZ">
				<xs:annotation>
					<xs:documentation>Внешняя система размещения заказов</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RMIS">
				<xs:annotation>
					<xs:documentation>Региональная муниципальная информационная система</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FAS">
				<xs:annotation>
					<xs:documentation>Федеральная антимонопольная служба</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ETP">
				<xs:annotation>
					<xs:documentation>Электронная торговая площадка</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BANK">
				<xs:annotation>
					<xs:documentation>Банк</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GIIS_EB">
				<xs:annotation>
					<xs:documentation>ГИИС Электронный бюджет</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OA">
				<xs:annotation>
					<xs:documentation>Информационные системы органов аудита</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OVK">
				<xs:annotation>
					<xs:documentation>Информационные системы органов внутреннего контроля</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IKO">
				<xs:annotation>
					<xs:documentation>Информационные системы контрольных органов</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
