src/schemes/WSDL/financialActivityPlanWebService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:sch="http://ws.gmu.lanit.ru/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.gmu.lanit.ru/" targetNamespace="http://ws.gmu.lanit.ru/">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ws.gmu.lanit.ru/" version="1.0">
			<xsd:import namespace="http://ws.gmu.lanit.ru/" schemaLocation="pfhd.xsd"></xsd:import>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="getPlanChangedListResponse">
		<wsdl:part element="sch:getPlanChangedListResponse" name="getPlanChangedListResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getFinancialActivityPlanResponse">
		<wsdl:part element="sch:getFinancialActivityPlanResponse" name="getFinancialActivityPlanResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getFinancialActivityPlanRequest">
		<wsdl:part element="sch:getFinancialActivityPlanRequest" name="getFinancialActivityPlanRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getPlanChangedListRequest">
		<wsdl:part element="sch:getPlanChangedListRequest" name="getPlanChangedListRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="pfhd">
		<wsdl:operation name="getPlanChangedList">
			<wsdl:input message="sch:getPlanChangedListRequest" name="getPlanChangedListRequest">
			</wsdl:input>
			<wsdl:output message="sch:getPlanChangedListResponse" name="getPlanChangedListResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getFinancialActivityPlan">
			<wsdl:input message="sch:getFinancialActivityPlanRequest" name="getFinancialActivityPlanRequest">
			</wsdl:input>
			<wsdl:output message="sch:getFinancialActivityPlanResponse" name="getFinancialActivityPlanResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="pfhdSoap11" type="sch:pfhd">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getPlanChangedList">
			<soap:operation soapAction=""/>
			<wsdl:input name="getPlanChangedListRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getPlanChangedListResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getFinancialActivityPlan">
			<soap:operation soapAction=""/>
			<wsdl:input name="getFinancialActivityPlanRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getFinancialActivityPlanResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="pfhdService">
		<wsdl:port binding="sch:pfhdSoap11" name="pfhdSoap11">
			<soap:address location="http://bus.gov.ru/ws/pfhd1/"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>