src/schemes/WSDL/IntegrationService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://zakupki.gov.ru/oos/integration/service" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:st="http://zakupki.gov.ru/oos/signIncoming/soap/messages" xmlns:ns="http://zakupki.gov.ru/oos/EPtypes/1" xmlns:ns1="http://zakupki.gov.ru/oos/TPtypes/1" xmlns:ns2="http://zakupki.gov.ru/oos/base/1" xmlns:ns3="http://zakupki.gov.ru/oos/common/1" xmlns:ns4="http://zakupki.gov.ru/oos/signIncoming/1" xmlns:ns5="http://zakupki.gov.ru/oos/types/1" name="IntegrationService" targetNamespace="http://zakupki.gov.ru/oos/integration/service">
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://zakupki.gov.ru/oos/signIncoming/soap/messages" schemaLocation="../eisSigningSOAPMessages.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="receiveRgRequest">
		<wsdl:part name="parameters" element="st:receiveRgRequest"/>
	</wsdl:message>
	<wsdl:message name="receiveRgResponse">
		<wsdl:part name="parameters" element="st:receiveRgResponse"/>
	</wsdl:message>
	<wsdl:message name="receiveRppRequest">
		<wsdl:part name="parameters" element="st:receiveRppRequest"/>
	</wsdl:message>
	<wsdl:message name="receiveRppResponse">
		<wsdl:part name="parameters" element="st:receiveRppResponse"/>
	</wsdl:message>
	<wsdl:message name="receiveRvpRequest">
		<wsdl:part name="parameters" element="st:receiveRvpRequest"/>
	</wsdl:message>
	<wsdl:message name="receiveRvpResponse">
		<wsdl:part name="parameters" element="st:receiveRvpResponse"/>
	</wsdl:message>
	<wsdl:message name="receiveRrkRequest">
		<wsdl:part name="parameters" element="st:receiveRrkRequest"/>
	</wsdl:message>
	<wsdl:message name="receiveRrkResponse">
		<wsdl:part name="parameters" element="st:receiveRrkResponse"/>
	</wsdl:message>
	<wsdl:message name="receiveRppOvkRequest">
		<wsdl:part name="parameters" element="st:receiveRppOvkRequest"/>
	</wsdl:message>
	<wsdl:message name="receiveRppOvkResponse">
		<wsdl:part name="parameters" element="st:receiveRppOvkResponse"/>
	</wsdl:message>
	<wsdl:message name="receiveRvpOvkRequest">
		<wsdl:part name="parameters" element="st:receiveRvpOvkRequest"/>
	</wsdl:message>
	<wsdl:message name="receiveRvpOvkResponse">
		<wsdl:part name="parameters" element="st:receiveRvpOvkResponse"/>
	</wsdl:message>
	<wsdl:message name="receiveRrkOvkRequest">
		<wsdl:part name="parameters" element="st:receiveRrkOvkRequest"/>
	</wsdl:message>
	<wsdl:message name="receiveRrkOvkResponse">
		<wsdl:part name="parameters" element="st:receiveRrkOvkResponse"/>
	</wsdl:message>
	<wsdl:message name="receiveRokoRequest">
		<wsdl:part name="parameters" element="st:receiveRokoRequest"/>
	</wsdl:message>
	<wsdl:message name="receiveRokoResponse">
		<wsdl:part name="parameters" element="st:receiveRokoResponse"/>
	</wsdl:message>
	<wsdl:message name="getProcessingResultRequest">
		<wsdl:part name="parameters" element="st:getProcessingResultRequest"/>
	</wsdl:message>
	<wsdl:message name="getProcessingResultResponse">
		<wsdl:part name="parameters" element="st:getProcessingResultResponse"/>
	</wsdl:message>
	<wsdl:portType name="IntegrationServicePortType">
		<wsdl:operation name="receiveRg">
			<wsdl:input message="receiveRgRequest"/>
			<wsdl:output message="receiveRgResponse"/>
		</wsdl:operation>
		<wsdl:operation name="receiveRpp">
			<wsdl:input message="receiveRppRequest"/>
			<wsdl:output message="receiveRppResponse"/>
		</wsdl:operation>
		<wsdl:operation name="receiveRvp">
			<wsdl:input message="receiveRvpRequest"/>
			<wsdl:output message="receiveRvpResponse"/>
		</wsdl:operation>
		<wsdl:operation name="receiveRrk">
			<wsdl:input message="receiveRrkRequest"/>
			<wsdl:output message="receiveRrkResponse"/>
		</wsdl:operation>
		<wsdl:operation name="receiveRppOvk">
			<wsdl:input message="receiveRppOvkRequest"/>
			<wsdl:output message="receiveRppOvkResponse"/>
		</wsdl:operation>
		<wsdl:operation name="receiveRvpOvk">
			<wsdl:input message="receiveRvpOvkRequest"/>
			<wsdl:output message="receiveRvpOvkResponse"/>
		</wsdl:operation>
		<wsdl:operation name="receiveRrkOvk">
			<wsdl:input message="receiveRrkOvkRequest"/>
			<wsdl:output message="receiveRrkOvkResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getProcessingResult">
			<wsdl:input message="getProcessingResultRequest"/>
			<wsdl:output message="getProcessingResultResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="IntegrationServiceBinding" type="IntegrationServicePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="receiveRg">
			<soap:operation soapAction="receiveRg"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="receiveRpp">
			<soap:operation soapAction="receiveRpp"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="receiveRvp">
			<soap:operation soapAction="receiveRvp"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="receiveRrk">
			<soap:operation soapAction="receiveRrk"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="receiveRppOvk">
			<soap:operation soapAction="receiveRppOvk"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="receiveRvpOvk">
			<soap:operation soapAction="receiveRvpOvk"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="receiveRrkOvk">
			<soap:operation soapAction="receiveRrkOvk"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getProcessingResult">
			<soap:operation soapAction="getProcessingResult"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="IntegrationService">
		<wsdl:port name="IntegrationServicePort" binding="IntegrationServiceBinding">
			<soap:address location="${serviceLocation}"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
