src/schemes/WSDL/WebServiceDocsROKO.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://zakupki.gov.ru/fz44/ws/priz" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://zakupki.gov.ru/fz44/ws/priz">
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://zakupki.gov.ru/fz44/ws/priz" schemaLocation="../docs-ws-api.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="getROKOObjectInfoResponse">
		<wsdl:part name="getROKOObjectInfoResponse" element="sch:getROKOObjectInfoResponse"/>
	</wsdl:message>
	<wsdl:message name="getROKOObjectInfoRequest">
		<wsdl:part name="getROKOObjectInfoRequest" element="sch:getROKOObjectInfoRequest"/>
	</wsdl:message>
	<wsdl:message name="getROKOObjectListRequest">
		<wsdl:part name="getROKOObjectListRequest" element="sch:getROKOObjectListRequest"/>
	</wsdl:message>
	<wsdl:message name="getROKOObjectListResponse">
		<wsdl:part name="getROKOObjectListResponse" element="sch:getROKOObjectListResponse"/>
	</wsdl:message>
	<wsdl:portType name="GetDataPortType">
		<wsdl:operation name="getROKOObjectInfo">
			<wsdl:input name="getROKOObjectInfoRequest" message="sch:getROKOObjectInfoRequest"/>
			<wsdl:output name="getROKOObjectInfoResponse" message="sch:getROKOObjectInfoResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getROKOObjectList">
			<wsdl:input name="getROKOObjectListRequest" message="sch:getROKOObjectListRequest"/>
			<wsdl:output name="getROKOObjectListResponse" message="sch:getROKOObjectListResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="GetDataPortTypeSoap11" type="sch:GetDataPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getROKOObjectInfo">
			<soap:operation soapAction="http://zakupki.gov.ru/fz44/ws/ROKO/get-ROKO-object-info"/>
			<wsdl:input name="getROKOObjectInfoRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getROKOObjectInfoResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getROKOObjectList">
			<soap:operation soapAction="http://zakupki.gov.ru/fz44/ws/ROKO/get-ROKO-object-list"/>
			<wsdl:input name="getROKOObjectListRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getROKOObjectListResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="GetDataPortTypeService">
		<wsdl:port name="GetDataPortTypeSoap11" binding="sch:GetDataPortTypeSoap11">
			<soap:address location="${serviceLocation}"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
