src/schemes/14_2/GetDocsWS/GetDocsRIS/WSDL/WebServiceGetDocsRis.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ris="http://zakupki.gov.ru/fz44/get-docs-ris/ws" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns="http://zakupki.gov.ru/oos/base/1" targetNamespace="http://zakupki.gov.ru/fz44/get-docs-ris/ws">
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://zakupki.gov.ru/fz44/get-docs-ris/ws" schemaLocation="../getDocsRIS-ws-api.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="getPublicDocsRisRequest">
		<wsdl:part name="getPublicDocsRisRequest" element="ris:getPublicDocsRisRequest"/>
	</wsdl:message>
	<wsdl:message name="getPublicDocsRisResponse">
		<wsdl:part name="getPublicDocsRisResponse" element="ris:getPublicDocsRisResponse"/>
	</wsdl:message>
	<wsdl:message name="getHiddenDocsRisRequest">
		<wsdl:part name="getHiddenDocsRisResponse" element="ris:getHiddenDocsRisRequest"/>
	</wsdl:message>
	<wsdl:message name="getHiddenDocsRisResponse">
		<wsdl:part name="getHiddenDocsRisResponse" element="ris:getHiddenDocsRisResponse"/>
	</wsdl:message>
	<wsdl:message name="getPublicDocsRisByReestrNumberRequest">
		<wsdl:part name="getPublicDocsRisByReestrNumberRequest" element="ris:getPublicDocsRisByReestrNumberRequest"/>
	</wsdl:message>
	<wsdl:message name="getPublicDocsRisByReestrNumberResponse">
		<wsdl:part name="getPublicDocsRisByReestrNumberResponse" element="ris:getPublicDocsRisByReestrNumberResponse"/>
	</wsdl:message>
	<wsdl:message name="getHiddenDocsRisByReestrNumberRequest">
		<wsdl:part name="getHiddenDocsRisByReestrNumberRequest" element="ris:getHiddenDocsRisByReestrNumberRequest"/>
	</wsdl:message>
	<wsdl:message name="getHiddenDocsRisByReestrNumberResponse">
		<wsdl:part name="getHiddenDocsRisByReestrNumberResponse" element="ris:getHiddenDocsRisByReestrNumberResponse"/>
	</wsdl:message>
	
	
	
		<wsdl:message name="getDocSignaturesByUrlRequest">
		<wsdl:part name="getDocSignaturesByUrlRequest" element="ris:getDocSignaturesByUrlRequest"/>
	</wsdl:message>
	<wsdl:message name="getDocSignaturesByUrlResponse">
		<wsdl:part name="getDocSignaturesByUrlResponse" element="ris:getDocSignaturesByUrlResponse"/>
	</wsdl:message>
	
	
	
	
	<wsdl:message name="getNsiRisRequest">
		<wsdl:part name="getNsiRisRequest" element="ris:getNsiRisRequest"/>
	</wsdl:message>
	<wsdl:message name="getNsiRisResponse">
		<wsdl:part name="getNsiRisResponse" element="ris:getNsiRisResponse"/>
	</wsdl:message>
	<wsdl:portType name="GetDocsRisFacade">
		<wsdl:operation name="getPublicDocsRis">
			<wsdl:input name="getPublicDocsRisRequest" message="ris:getPublicDocsRisRequest"/>
			<wsdl:output name="getPublicDocsRisResponse" message="ris:getPublicDocsRisResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getHiddenDocsRis">
			<wsdl:input name="getHiddenDocsRisRequest" message="ris:getHiddenDocsRisRequest"/>
			<wsdl:output name="getHiddenDocsRisResponse" message="ris:getHiddenDocsRisResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getPublicDocsRisByReestrNumber">
			<wsdl:input name="getPublicDocsRisByReestrNumberRequest" message="ris:getPublicDocsRisByReestrNumberRequest"/>
			<wsdl:output name="getPublicDocsRisByReestrNumberResponse" message="ris:getPublicDocsRisByReestrNumberResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getHiddenDocsRisByReestrNumber">
			<wsdl:input name="getHiddenDocsRisByReestrNumberRequest" message="ris:getHiddenDocsRisByReestrNumberRequest"/>
			<wsdl:output name="getHiddenDocsRisByReestrNumberResponse" message="ris:getHiddenDocsRisByReestrNumberResponse"/>
		</wsdl:operation>
		
		
				
		<wsdl:operation name="getDocSignaturesByUrl">
			<wsdl:input name="getDocSignaturesByUrlRequest" message="ris:getDocSignaturesByUrlRequest"/>
			<wsdl:output name="getDocSignaturesByUrlResponse" message="ris:getDocSignaturesByUrlResponse"/>
		</wsdl:operation>
		
		
		
		<wsdl:operation name="getNsiRis">
			<wsdl:input name="getNsiRisRequest" message="ris:getNsiRisRequest"/>
			<wsdl:output name="getNsiRisResponse" message="ris:getNsiRisResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="GetDocsRisFacadeBinding" type="ris:GetDocsRisFacade">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getPublicDocsRis">
			<soap:operation soapAction="http://zakupki.gov.ru/fz44/ws/get-docs-ris"/>
			<wsdl:input name="getPublicDocsRisRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getPublicDocsRisResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getHiddenDocsRis">
			<soap:operation soapAction="http://zakupki.gov.ru/fz44/ws/get-docs-ris"/>
			<wsdl:input name="getHiddenDocsRisRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getHiddenDocsRisResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getPublicDocsRisByReestrNumber">
			<soap:operation soapAction="http://zakupki.gov.ru/fz44/ws/get-docs-ris"/>
			<wsdl:input name="getPublicDocsRisByReestrNumberRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getPublicDocsRisByReestrNumberResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getHiddenDocsRisByReestrNumber">
			<soap:operation soapAction="http://zakupki.gov.ru/fz44/ws/get-docs-ris"/>
			<wsdl:input name="getHiddenDocsRisByReestrNumberRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getHiddenDocsRisByReestrNumberResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		
		
		
		
				<wsdl:operation name="getDocSignaturesByUrl">
			<soap:operation soapAction="http://zakupki.gov.ru/fz44/ws/get-docs-ris"/>
			<wsdl:input name="getDocSignaturesByUrlRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getDocSignaturesByUrlResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		
		
		
		
		
		<wsdl:operation name="getNsiRis">
			<soap:operation soapAction="http://zakupki.gov.ru/fz44/ws/get-docs-ris"/>
			<wsdl:input name="getNsiRisRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getNsiRisResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="GetDocsRisFacadeService">
		<wsdl:port name="GetDocsRisFacadePort" binding="ris:GetDocsRisFacadeBinding">
			<soap:address location="${serviceLocation}"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
