schemes/WSDL/IncomingWebService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://zakupki.gov.ru/oos/wsIncoming/service" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsm="http://zakupki.gov.ru/oos/wsIncoming/soap/messages" xmlns:ns="http://zakupki.gov.ru/oos/EPtypes/1" xmlns:ns1="http://zakupki.gov.ru/oos/TPtypes/1" xmlns:ns2="http://zakupki.gov.ru/oos/base/1" xmlns:ns3="http://zakupki.gov.ru/oos/common/1" xmlns:ns4="http://zakupki.gov.ru/oos/wsIncoming/1" xmlns:ns5="http://zakupki.gov.ru/oos/types/1" xmlns:ns6="http://zakupki.gov.ru/oos/SMTypes/1" xmlns:ns7="http://zakupki.gov.ru/oos/wsIncoming/types/1" name="IncomingWebService" targetNamespace="http://zakupki.gov.ru/oos/wsIncoming/service">
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://zakupki.gov.ru/oos/wsIncoming/soap/messages" schemaLocation="../eisWSMessages.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="receiveRpgRequest">
		<wsdl:part name="parameters" element="wsm:receiveRpgRequest"/>
	</wsdl:message>
	<wsdl:message name="receiveRgcRequest">
		<wsdl:part name="parameters" element="wsm:receiveRgcRequest"/>
	</wsdl:message>
	<wsdl:message name="receiveFSRequest">
		<wsdl:part name="parameters" element="wsm:receiveFSRequest"/>
	</wsdl:message>
	<wsdl:message name="getProcessingResultRequest">
		<wsdl:part name="parameters" element="wsm:getProcessingResultRequest"/>
	</wsdl:message>
	<wsdl:message name="resultResponse">
		<wsdl:part name="parameters" element="wsm:resultResponse"/>
	</wsdl:message>
	<wsdl:message name="getControl99DocsInfoRequest">
		<wsdl:part name="parameters" element="wsm:getControl99DocsInfoRequest"/>
	</wsdl:message>
	<wsdl:message name="getControl99DocsInfoResponse">
		<wsdl:part name="parameters" element="wsm:resultResponse"/>
	</wsdl:message>
	<wsdl:portType name="wsIncomingPortType">
		<wsdl:operation name="receiveRpg">
			<wsdl:input message="receiveRpgRequest"/>
			<wsdl:output message="resultResponse"/>
		</wsdl:operation>
		<wsdl:operation name="receiveRgc">
			<wsdl:input message="receiveRgcRequest"/>
			<wsdl:output message="resultResponse"/>
		</wsdl:operation>
		<wsdl:operation name="receiveFS">
			<wsdl:input message="receiveFSRequest"/>
			<wsdl:output message="resultResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getProcessingResult">
			<wsdl:input message="getProcessingResultRequest"/>
			<wsdl:output message="resultResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getControl99DocsInfo">
			<wsdl:input message="getControl99DocsInfoRequest"/>
			<wsdl:output message="getControl99DocsInfoResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="wsIncomingBinding" type="wsIncomingPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="receiveRpg">
			<soap:operation soapAction="receiveRpg"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="receiveRgc">
			<soap:operation soapAction="receiveRgc"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="receiveFS">
			<soap:operation soapAction="receiveFS"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getProcessingResult">
			<soap:operation soapAction="getProcessingResult"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getControl99DocsInfo">
			<soap:operation soapAction="getControl99DocsInfo"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="IncomingWebService">
		<wsdl:port name="wsIncomingPort" binding="wsIncomingBinding">
			<soap:address location="${serviceLocation}"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
