schemes/WSDL/WebServiceQueue.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:q="http://zakupki.gov.ru/fz44/queue/ws" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://zakupki.gov.ru/fz44/queue/ws">
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://zakupki.gov.ru/fz44/queue/ws" schemaLocation="../queue-ws-api.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="getObjectRequest">
		<wsdl:part name="getObjectRequest" element="q:getObjectRequest"/>
	</wsdl:message>
	<wsdl:message name="getObjectResponse">
		<wsdl:part name="getObjectResponse" element="q:getObjectResponse"/>
	</wsdl:message>
	<wsdl:message name="ackRequest">
		<wsdl:part name="ackRequest" element="q:ackRequest"/>
	</wsdl:message>
	<wsdl:message name="ackResponse">
		<wsdl:part name="ackResponse" element="q:ackResponse"/>
	</wsdl:message>
	<wsdl:portType name="GetDataPortType">
		<wsdl:operation name="getObject">
			<wsdl:input name="getObjectRequest" message="q:getObjectRequest"/>
			<wsdl:output name="getObjectResponse" message="q:getObjectResponse"/>
		</wsdl:operation>
		<wsdl:operation name="ack">
			<wsdl:input name="ackRequest" message="q:ackRequest"/>
			<wsdl:output name="ackResponse" message="q:ackResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="GetDataPortTypeSoap11" type="q:GetDataPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getObject">
			<soap:operation soapAction="http://zakupki.gov.ru/fz44/queue/ws/get-object-info"/>
			<wsdl:input name="getObjectRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getObjectResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ack">
			<soap:operation soapAction="http://zakupki.gov.ru/fz44/queue/ws/get-object-info"/>
			<wsdl:input name="ackRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="ackResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="GetDataPortTypeService">
		<wsdl:port name="GetDataPortTypeSoap11" binding="q:GetDataPortTypeSoap11">
			<soap:address location="${serviceLocation}"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
