schemes/QueueVBS/WSDL/WebServiceQueueVBS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:q="http://zakupki.gov.ru/fz44/queue-vbs/ws" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://zakupki.gov.ru/fz44/queue-vbs/ws">
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://zakupki.gov.ru/fz44/queue-vbs/ws" schemaLocation="../queue-vbs-ws-api.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="getObjectsRequest">
		<wsdl:part name="getObjectsRequest" element="q:getObjectsRequest"/>
	</wsdl:message>
	<wsdl:message name="getObjectsResponse">
		<wsdl:part name="getObjectsResponse" element="q:getObjectsResponse"/>
	</wsdl:message>
	<wsdl:message name="ackRequest">
		<wsdl:part name="ackRequest" element="q:ackRequest"/>
	</wsdl:message>
	<wsdl:message name="ackResponse">
		<wsdl:part name="ackResponse" element="q:ackResponse"/>
	</wsdl:message>
	<wsdl:portType name="GetDataPortType">
		<wsdl:operation name="getObjects">
			<wsdl:input name="getObjectsRequest" message="q:getObjectsRequest"/>
			<wsdl:output name="getObjectsResponse" message="q:getObjectsResponse"/>
		</wsdl:operation>
		<wsdl:operation name="ack">
			<wsdl:input name="ackRequest" message="q:ackRequest"/>
			<wsdl:output name="ackResponse" message="q:ackResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="GetDataPortTypeSoap11" type="q:GetDataPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getObjects">
			<soap:operation soapAction="http://zakupki.gov.ru/fz44/queue/ws/get-object-info"/>
			<wsdl:input name="getObjectsRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getObjectsResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ack">
			<soap:operation soapAction="http://zakupki.gov.ru/fz44/queue/ws/get-object-info"/>
			<wsdl:input name="ackRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="ackResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="GetDataPortTypeService">
		<wsdl:port name="GetDataPortTypeSoap11" binding="q:GetDataPortTypeSoap11">
			<soap:address location="${serviceLocation}"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
